@charset "utf-8";
@import url('./reset.css');




.Menu__Down{
    display: none;
}

.Down__List {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.Down__List ul {
    padding: 15px;
    width: 45%;

}

.Down__List ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.Down__List ul li .name{
    padding: 5px;
}

.Down__List ul li .under{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 10px;
}

.Down__List ul li .under p{
    padding: 10px;
}


.Up__Descsession{
    text-align: left;
}

.Up__Descsession .DescPhoto{
    padding : 15px
}

.Up__Descsession .DescText{
    padding: 15px;
}



